// Define variables for your color scheme

// Creados por Coper
:root {
  --color-green: #a4c639;
  --color-yellow: #f8b400;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light-gray: #d3d3d3;
  --color-dark-gray: #696969;
}
