<div class="container-custom">
  <h2>Vista 3 Link evento</h2>
  <p><%= @event.link %></p>
  <div class="image-container">
    <%= image_tag @event.qrcode, class: 'img-fluid' %>
  </div>
  <%= link_to 'Continuar', bill_path(@event.bill), class: "btn btn-custom btn-green w-100 mt-3" %>
</div>
