<h1>Vista 3 Link evento http://www.localhost:3000/events/6/link</h1>

<%= @event.link %>
<%= image_tag @event.qrcode %>


<%= link_to 'Continuar',bill_path(@event.bill), class: "btn btn-secondary w-100 mt-3" %>
