
  <div class="container-custom222 ">

    <div class= "row mb-5">
      <div class="text-center ">
         <%= image_tag "Logo2.png", alt: "Logo2", class: "logo2-image" %>
      </div>
     </div>


    <h2 class = " text-black " >¡Comparte tu evento!</h2>
    <h4 class =" text-black mb-1" >Cada miembro podra verificar </h4>
    <h4 class =" text-black">y agregar sus platos</h4>
    <div class = "container mt-5 mb-5">
           <%= @svg.html_safe %>
    </div>
    <h4 class =" text-black mb-1">O envia el siguiente enlace: </h4>
    <h5 class =" text-black"><%= @event.link %></h5>
      <%= link_to 'Continuar', bill_path(@event.bill), class: "btn btn-custom btn-green w-100 mt-5" %>
  </div>
<!-- una prueba no funciona -->
