
    <div class="item-display d-flex justify-content-between mt-3" >
      <p class="text-black">
        <strong><%= item.user.nickname %></strong>
        <strong><%= item.category %></strong>
        <strong>$ <%= number_to_currency(item.price) %></strong>
      </p>
    </div>
  <%# end %>
