<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LetPay Layout</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>
<body>
    <div class="custom-layout">
        <div class="container-custom3">
            <div class = "items" >
 <div class = "mb-5 mt-4" style="display: flex; align-items: center;">
  <i class="bi bi-arrow-left-circle-fill" style="font-size: 24px; margin-right: 10px;"></i>
  <h4 style="margin: 0;">Añadir un platillo</h4>
 </div>
  <%= turbo_frame_tag "new_item" do %>
    <%= render "bills/form_item" %>
  <% end %>
</div>
        </div>
    </div>

    <div class="footer-wrapper">
        <div class="button-container">
            <a href="#" class="icon-button">
                <i class="bi bi-person"></i>
                <p>Participantes</p>
            </a>
            <a href="#" class="btn-circle">
                <i class="bi bi-check"></i>
            </a>
            <a href="#" class="icon-button">
                <i class="bi bi-receipt"></i>
                <p>La cuenta</p>
            </a>
        </div>
    </div>
</body>
</html>
