<div class="container-custom">
  <!-- Imagen con el logo -->
  <div class="text-center my-3">
    <%= image_tag "Logo2.png", alt: "Logo2", class: "logo2-image" %>
  </div>

  <!-- Sección media con el texto de bienvenida -->
  <div class="section-middle text-center my-5">
    <h3>Te damos la bienvenida a la mejor forma de dividir las cuentas.</h3>
  </div>

  <!-- Sección inferior con el botón -->
  <div class="section-bottom text-center">
    <%= link_to 'Empezar', new_event_path, class: "btn btn-custom btn-yellow w-100 mt-3 rounded" %>
  </div>
</div>
