.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.container-navbar {
  background: #ffffff;
  border-radius: 25px;
  padding: 0px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin-top: 0px;

  h2 {
    color: #000000;
    margin-bottom: 20px;
  }

  p {
    color: #696969;
    margin-bottom: 20px;
  }
}
